@font-face {
  font-family: 'Hakgyoansim Samulham';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSamulham/HakgyoansimSamulham.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSamulham/HakgyoansimSamulham.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSamulham/HakgyoansimSamulham.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSamulham/HakgyoansimSamulham.ttf') format('truetype');
}